/* App.css */


  
  .App {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    padding: 20px;
    text-align: center; /* Center text */
    
  }
  
  h1 {
    font-size: 2.5em;
    color: #193a5e; /* Primary color for the heading */
    margin-bottom: 20px; /* Space below the heading */
  }
  .component{
    border: 1px solid #193a5e;
    border-radius: 10px;
    padding: 20px ;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    margin-bottom: 20px; /* Space below the button */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  h2 {
    font-size: 2em;
    margin: 10px 0; /* Space above and below */
    color: #333; /* Darker color for name */
  }
  
  p {
    font-size: 1.2em;
    margin: 5px 0; /* Space between paragraphs */
    color: #555; /* Slightly lighter text color */
  }
  
  img {
    width: 200px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for the image */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    margin: 20px 0; /* Space above and below the image */
  }
  
  .time-since-mounted {
    font-size: 1em;
    color: #777; /* Light grey for timestamp */
    margin-top: 20px; /* Space above timestamp */
  }
  